/*
 Theme Name:     N64 Squid
 Theme URI:      https://www.n64squid.com/
 Description:    N64 Squid's theme
 Author:         Squid
 Author URI:     https://www.n64squid.com/
 Template:       interior
 Version:        1.0.1
*/
 
@import url("../interior/style.css");
 
/* =Theme customization starts here
------------------------------------------------------- */
hr {
	width:100%;
	height:0px;
	border:none;
	border-top:5px solid #88abf7;
}
html, body{
	width:auto;
	color:#333;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11pt;
	background-color:#FFFFFF;
}
h1, h2, h3, h4 {
	width:100%;
	color:#333;
}
h1 {
	font-size:1.5em;
}
h2 {
	font-size:1.2em;
	border-bottom: 5px solid #88abf7;
	margin: 1em 0px;
}
h3 {
	font-size:1.1em;
	border-bottom: 3px solid #88abf7;
	margin: 1em 0px;
}
h4 {
	font-size:1em;
	border-bottom: 1px solid #88abf7;
	margin: 1em 0px;
}
h1 a, h2 a, h3 a, h4 a {
	text-decoration:none;
	color:#339;
}
p, .wp-block-image {
	margin: 0.5em 0em;
}
pre, .hcb_wrap {
	padding: 0.5em 0.5em 0.5em 0.7em;
	border: solid #88abf7;
	border-width: 1px 1px 1px 10px;
	overflow: auto;
	background-color:#eee;
	margin:0.5em 0 !important;
	white-space: pre;
}
.wp-block-preformatted {
    white-space: pre;
}
.wp-block-columns {
		margin:0.5em 0em;
}
code {
	border: 1px solid #88abf7;
	background-color:#eee;
	padding: 1px;
}
blockquote {
	background-image: url(images/quote1.png), url(images/quote2.png);
	background-position: left top, right bottom;
	background-repeat: no-repeat;
	padding:30px;
	margin:15px auto;
	font-style: italic;
}
blockquote cite {
	font-size: 0.8em;
	margin-left: 30px;
}
.full-div {
	width:calc(100% - 1em);
	max-width: 960px;
	padding: 0em 0.5em;
}
.hader-top-bar {
	width:100%;
}
#primary_nav_wrap {
	display:flex;
	border: solid #88abf7;
    border-width: 5px 0px 5px 0px;
	background-color:#FFFFFF;
}

#primary_nav_wrap ul {
	list-style:none;
	position:relative;
	margin:auto;
	padding:0;
}

#primary_nav_wrap ul a {
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:1.5em;
	line-height:32px;
	overflow:hidden;
	margin:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li {
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item {
	background:#b7cdfa;
}
a[title=About]:not(:hover){
	background:#fff;
}
#primary_nav_wrap > ul > li:first-of-type {
	display:none;
	width:100%;
	background:#88abf7;
	cursor:pointer;
}

#primary_nav_wrap ul li:hover {
	background:#88abf7;
}

#primary_nav_wrap ul ul {
	display:none;
	width:100%;
	position:absolute !important;
	top:100%;
	left:0;
	background:#fff;
	padding:0;
	z-index:2;
	border: solid #88abf7;
    border-width: 5px;
}

#primary_nav_wrap ul ul li {
	width:100%;
}

#primary_nav_wrap ul ul a {
	line-height:120%;
	margin: 10px 0px;
	text-align: center;
	width: 100%;
}

#primary_nav_wrap ul li:hover > ul {
	display:block;
}
.stones {
	background-image:url(images/stones.jpg);
	padding:20px 0px 40px;	
	width:100%;
	float:left;
}
.wrapper {
	width:100% !important;
	height:auto;
}
.dunno{
	width:100%;
	max-width:800px;
	margin:0 auto;
	background:#000000;
	opacity:0.9999;
}
#slider {
	float:none !important;
}
#slider li,#slider ul{ 
	width:100%;
	overflow:hidden;
	height:auto;
}
#slider li img { 
	width:100%;
	max-width:800px;
	height:auto;
	margin:0;
}
#slider li h2 { 
   position: absolute;
   bottom: 10px;
   left: 10px;
   width: 100%;
   border: none;
}
#slider li h2 span { 
   color: white;
   font: bold 24px/45px Verdana, Sans-Serif;
   letter-spacing: -1px; 
   background: rgb(0, 0, 0);/* fallback color */
   background: rgba(0, 0, 0, 0.7);
   line-height:1.2em;
   padding: 5px;
   width: 100%;
}
.container-pro{
	text-align:center;
	height:auto;
	width: calc(25% - 17.5px);
	margin:5px 0px;
	border-color:#88abf7;
}
.container-pro:not(:first-of-type){
	margin-left:10px;
}

.container-pro h2, .container-pro h2 a {
	line-height:1.5em;
}
.container-pro h2 {
	display: table;
	height:1.5em;
	overflow:hidden;
	border-bottom: none;
	margin-bottom:0;
}
.container-pro h2 a {
	display: table-cell;
	vertical-align: middle;
	margin: 0;
}
.container-pro-figer {
	float:none;
	padding:0;
	display: table-cell;
	vertical-align: middle;
}
.container-pro-figer a {
	float:left;
	padding:0;
	font-size: 0;
}
.container-pro-figer img {
	cursor:pointer;
	-moz-transition: all 0.2s ease-in-out 0s;
	width:100%;
}
.grid_1{
	width:70%;
}
.grid_1_container_1st{
	border-color:#88abf7;
	margin-top:0px;
	margin-bottom: 20px;
	padding:10px;
	width:calc(100% - 30px);
	height:auto;
}
.grid_1_container_1st h3, .grid_1_container_1st p {
	margin:0px;
	width: 100%;
	line-height:normal;
	border:none;
}
.grid_1_container_1st h3 {
	margin:10px 0px;
}
.grid_1_container_1st img {
	width:100%;
	height:auto;
}
.grid_2{
	width:calc(30% - 20px);
}
.grid_1 h2, .grid_2 h2 {
	margin:0;
	margin-bottom:10px;
	color:#333;
	font-size:1.2em;
}
.grid_2 .sidebar-para, .grid_1_container_1st p{
	margin:0;
	font-size: 1em;
	color:#333;
}
.grid_2 p {
	margin: 0px;
}
.game-meta {
	width: calc(100% - 16px);
	border:3px solid #88abf7;
	padding: 5px;
	margin-bottom: 5px;
	margin-top:1.5em;
}
.game-meta img {
	width:100%;
}
.game-meta-text {
	display:flex;
	justify-content: space-between;
	padding:2px;
}
.game-meta-text:nth-of-type(odd) {
	background-color: #e7eefd;
}
.game-meta-text dd {
	margin-left:5px;
	text-align: right;
}
.game-meta-text dt {
	font-weight:bold;
}
.game-meta-range {
	width: 100%;
	background-color: #0f0;
	border:3px solid #88abf7;
	line-height: 1.5em;
	text-align: center;
	margin: 3px 0;
}
.game-meta-range .score-text {
	margin: 2px;
	font-weight: bold;
}
.game-meta-range-percent {
	background-color: #d00;
	min-height: 1em;
}
.game-meta-gallery {
}

div[class^="game-meta-gallery-row-"] {
	display: flex;
	justify-content: space-between;
	margin-top:3px;
}
.game-meta-gallery-row-3 .game-meta-gallery-image-wrapper {
	width: calc((100% / 3) - 8px);
	height: calc((100% / 3) - 8px);
}
.game-meta-gallery-row-2 .game-meta-gallery-image-wrapper {
	width: calc((100% / 2) - 8px);
	height: calc((100% / 2) - 8px);
}
.game-meta-gallery-image-wrapper {
	border:3px solid #88abf7;
	line-height: 0px;
	font-size: 0px;
}
.game-meta-gallery-image-wrapper img {
	width:100%;
	height:100%;
}
.p5em {
	margin-top: 1.6em;
}
.grid_3_container {
	width:100%;
	margin-bottom:1em;
}
.grid_3_container .toc_widget_list {
	overflow-x:hidden;
}
.grid_3_container .toc_widget_list ul {
	margin-top: 0px;
	margin-left: 10px;
}
.grid_3_container .toc_widget_list li a {
	font-size: 11pt;
	font-weight: normal;
	line-height: inherit;
}
.grid_3_container h3 {
	font-size:1em;
	width:100%;
	color:#333;
	border-bottom: 5px solid #88abf7;
	margin: 0px;
	height:auto;
	line-height:normal;
}
.navigation a, .grid_3_container input {
	font-size: 0.8em;
	color: #333;
	border: 3px solid #88abf7;
	text-decoration: none;
	padding: 0.5em;
	font-weight: bold;
	height: 3em;
}
.navigation a:hover, .grid_3_container input:hover {
	background:#b7cdfa;
}
.grid_3_container input {
	margin: 0.5em 0.5em 0 0;
	float: left;
}
.button, #searchsubmit {
	cursor:pointer;
}
.mc-field-group label {
	display:none;
}
.wpp-list, #featured-random-featured-posts, #featured-random-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wpp-list li, #featured-random-featured-posts span, #featured-random-posts span {
  width: 30%;
  margin-top: calc(5% - 9px);
  margin-bottom: 0px;
  border: 3px solid #88abf7;
}
.wpp-post-title {
  display: none;
}
.wpp-thumbnail {
  width: 100%;
}
.icons-large li {
	width:calc(32% - 6px);
	margin-top:2%;
	margin-right:0;
	margin-bottom:0;
	float:left;
	height:auto;
}
.icons-large li img {
	border: 3px solid #88abf7;
	width: 100%;
}

.icons-large li:nth-of-type(3n), .icons-large li:nth-of-type(3n-1){
	margin-left:calc(2% + 6px);
}
.screen-reader-text{
	display:none;
}
.logo img, .logo{
	width:100%;
	max-width:400px;
}
.icons-medium li{
	float:left;
	margin: 0 5px 5px 0;
}
.footer-container{
	width: 100%;
	height:auto;
}
.footer-container-div{
	width: calc(25% - 10px);
	margin:5px;
	float:left;
}
.footer-text {
	background-image:url(images/stones.jpg);
	font-weight:bold;
	width:100%;
	text-align:center;
	float:left;
	color:#fff;
	text-shadow:#000;
}
.entry-content, .fanart, .games {
	margin-top:1em;
}
.entry-content h2, .entry-content h3 {
	margin: 1em 0em;
}
.entry-title {
	width:100%;
	border-bottom: 5px solid #88abf7;
	margin:0 0 0.5em 0;
}
.attachment-post-thumbnail{
	width:100%;
	max-width:800px;
	height:auto;
	margin:0 0 0.5em 0;
}
.entry-content p > a > .size-medium {
	width:300px;
	height:auto;
	margin: 1em calc((50% - 310px) / 2);
	border: 5px solid #88abf7;
}
.entry-content p > a > .size-full, figure.wp-block-image > img {
	max-width:100%;
	height:auto;
}
figure.wp-block-image > a {
	line-height:0px;
}
.entry-content p > a > .alignnone {
	margin: 1em auto;
    display: block;
}
.entry-content p > a > .alignleft {
	float:left;
}
.entry-content hr{
	margin: 1em 0px;
}
.entry-content ul.wp_catposts_list{
	column-count: 2;
}
.entry-content ul.wp_catposts_list li{
	list-style: unset;
	margin-left: 1.1em;
	padding: 1.5px;
}
#toc_container {
	display:none;
}
.wp-caption.alignnone, .wp-caption.aligncenter {
	max-width:calc(100% - 10px) !important;
	border: 5px solid #88abf7;
	margin: 1em auto;
}
.wp-caption.alignleft {
	width:300px !important;
	margin: 1em calc((50% - 310px) / 2);
	border: 5px solid #88abf7;
	float:left;
}
.wp-caption img {
	width:100% !important;
	height:auto;
	border:none;
	margin:0 0 -4px 0;
	
}
.wp-caption .wp-caption-text {
	border-top: 5px solid #88abf7;
	padding:7px;
	text-align:center;
}
.wp-caption-text {
	margin:0px;
}
/*Gallery*/
.blocks-gallery-item {
	
}
.wp-block-image figure.aligncenter {
}
figure.aligncenter img, figure.alignleft img, figure.alignright img {
	border: 3px solid #88abf7;
	margin-bottom: -4px;
}
.blocks-gallery-item figure {
	align-items: center;
}

figure.aligncenter figcaption, figure.alignleft figcaption, figure.alignright figcaption {
	border: solid #88abf7;
	border-width: 0 3px 3px 3px;
	margin: 0px;
	padding: 7px;
	font-size: inherit;
	background: none;
	color:inherit;
	box-sizing: content-box;
}
figure.wp-block-image, .blocks-gallery-item > figure {
	border: 3px solid #88abf7;
	display: flex;
	flex-direction: column;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.noborder figure img, figure.noborder, figure.noborder img {
	border:none;
}
.wp-block-gallery .blocks-gallery-item figcaption, figure.wp-block-image figcaption {
	width: 100%;
	padding: 7px;
	font-size: inherit;
	margin: 0px;
	box-sizing: content-box;
	border-top: 5px solid #88abf7;
	background: none;
	color:inherit;
	position:relative;
	flex-grow: unset;
}

/* This next bit is to fix the wordpress update shizzle */
.wp-block-gallery.has-nested-images figure.wp-block-image figcaption {
	color: inherit;
	background: white;
	padding: 7px;
}

.collapseomatic{
	width:calc(100% - 46px);
	border: 3px solid #88abf7;
	padding:5px 20px;
	background-position: 3px;
}
.collapseomatic_content {
	width:calc(100% - 16px);
	margin:0px;
	border: solid #88abf7;
	padding: 5px;
	border-width: 0px 3px 3px 3px;
}
.contact {
	width:calc(100% - 20px);
	margin: 1em 0px;
	padding:0px;
}
#commentform input, #commentform textarea, #commentform {
	resize:none;
	width:100%;
	max-width:350px;
}
#commentform {
	padding:0px;
}
.wp_catposts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.wp_catposts > .wp_catposts_subdiv {
	max-width: 48%;
}
.wp_catposts > .wp_catposts_subdiv img {
	width: 100%;
}
.footer {
	border-top: 5px solid #88abf7;
	margin-top:1em;
}
.fanart, .alm-listing.alm-ajax, .games {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}
.fanart a, .games a {
	/*float:left;*/
	width: calc(23% - 10px);
	height: 0px;
    padding-bottom: calc(23% - 10px);
	margin-bottom: calc(8% / 3);
	border: 5px solid #88abf7;
	display: inline-block;
	background-size: contain;
}
.games .blank-game {
	width: 23%;
	display: inline-block;
}
.fanart a:nth-child(4n){
	/*margin-right:0px;*/
}
#ajax-load-more {
	width: 100%;
}
.alm-load-more-btn {
	display:none;
}
.videoWrapper, .wp-block-embed__wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin-bottom: 1em;
}
.videoWrapper iframe, .wp-block-embed__wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#breadcrumbs {
	opacity: 0.75;
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid rgb(136, 171, 247);
	font-size: 0.65em;
}
.breadcrumb_last {
	font-weight:bold;
}
#snippet-box {
	width: calc(100% - 11px) !important;
	border: 3px solid #88abf7 !important;
	margin-top:1em;
	padding:5px;
	background-color:#e7eefd;
}
.schema-logo{
	vertical-align:middle;
}
.plus1.green {
	background: #fff;
	color:#333;
	border: 5px solid #88abf7;
	border-radius:0px;
}
.plus1.green h3 {
	margin:0px;
	padding: 0px 0px 0px 10px;
	background: #fff;
	color:#333;
	width:calc(100% - 10px); 
}
.plus1.green .plus_content {
	border-radius:0px;
}
.grecaptcha-badge {
	display:none;
}

@media (max-width: 819px) {
	.wp_catposts > .wp_catposts_subdiv {
		max-width: 100%;
	}
	.wp_catposts > .wp_catposts_subdiv img {
		width: inherit;
	}
	.container-pro{
		width: calc(50% - 15px);
		margin:5px 0px;
	}
	.container-pro:nth-child(even){
		margin-left:10px;
	}
	.container-pro:nth-child(odd){
		margin-left:0px;
	}
	#slider li h2 { 
	   bottom: 0px;
	   left: 0px;
	}
	.entry-content .size-medium{
		width:50%;
		margin: 0px;
	}
	.wp-caption.alignleft, .entry-content p > a > .size-medium.alignleft {
		width:calc(50% - 20px) !important;
		margin: 1em 5px;
		border: 5px solid #88abf7;
	}
	.contact {
		padding: 0px 10px;
	}
	.fanart a {
	}
}
@media (max-width: 600px) {
	#primary_nav_wrap ul li {
		width:50%;
		overflow:hidden;
	}
	#primary_nav_wrap ul li:first-of-type {
		display:block;
	}
	#primary_nav_wrap ul li:nth-of-type(2){
		background:#FFFFFF;
	}
	#primary_nav_wrap ul li:not(:first-of-type) {
		display:none;
	}
	#primary_nav_wrap ul li:hover {
		background:#88abf7;
	}
	#primary_nav_wrap ul li:hover > ul {
		display:none;
	}
	.grid_2, .grid_1{
		width:100%;
		margin:0px;
	}
	.footer-container-div{
		width:calc(50% - 20px);;
		padding:10px;
		margin:0px;
	}
}
@media (max-width: 400px) {
	#primary_nav_wrap ul li, .entry-content .size-medium {
		width:100%;
	}
	.container-pro{
		width: 100%;
		margin:5px 0px;
		border:solid #88abf7;
	    border-width: 5px 0px 5px 0px;
	}
	.container-pro:nth-child(even){
		margin-left:0px;
	}
	#slider li h2 span { 
	   color: white;
	   font: bold 12px Verdana, Sans-Serif;
	   width: 100%;
	   line-height:20px;
	   padding:2.5px 4px;
	   top:0;
	}
	.wp-caption.alignleft, .entry-content p > a > .size-medium {
		width:calc(100% - 10px) !important;
		margin: 1em 0px;
		border: 5px solid #88abf7;
	}
	.footer-container-div{
		width:calc(100% - 20px);
		padding:10px;
	}
}